/* --------------------------------common-------------------------------- */

html * {
    box-sizing: border-box;
    color: #fff;
    letter-spacing: -0.03em;
}

body {
    margin: 0;
    font-family: 'Alexandria', sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 300px 1fr;
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    user-select: none;
}

p {
    margin: 0;
}

/* --------------------------------메뉴-------------------------------- */

#menu {
    height: 100%;
    background-color: #000;
    padding: 16px;
    color: #fff;
    font-weight: 400;
    height: 100vh;
}

h1 {
    margin: 16px 0 24px 16px;
    padding: 0;
}

h1 img {
    width: 164px;
}

#menu .menu_with_icon {
    display: flex; 
    flex-direction: column;
    width: 100%-24px;
    margin-bottom: 32px;
}

#menu .menu_with_icon img {
    width: 24px;
    margin-right: 16px;
}

#menu .menu_with_icon a .dir div:nth-child(1),
#menu .menu_with_icon a .dir_here div:nth-child(1){
    height: 24px;
}

#menu .menu_with_icon a .dir {
    display: flex; 
    flex-direction: row;
    padding: 12px 24px;
    margin-bottom: 8px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    transition: background-color 0.3s linear;
}

#menu .menu_with_icon a .dir_here {
    display: flex; 
    flex-direction: row;
    padding: 12px 24px;
    margin-bottom: 8px;
    border-radius: 6px;
    background-color: #444444;
    font-size: 16px;
    line-height: 24px;
}

#menu .menu_with_icon a .dir:hover {
    display: flex; 
    flex-direction: row;
    padding: 12px 24px;
    margin-bottom: 8px;
    border-radius: 6px;
    background-color: #282828;
    font-size: 16px;
    line-height: 24px;
}

#menu .menu_txt {
    margin-left: 24px;
}
#menu .menu_txt div {
    margin-bottom: 24px;
}
#menu .menu_txt div a:hover {
    text-decoration: underline;
}


/* --------------------------------본문-------------------------------- */

h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 40px 0 16px;
}

#section {
    background-color: #0E0E0E;
    padding: 40px;
}

#section .header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

#section .header .inputWrap {
    width: 450px;
    height: 50px;
    padding: 14px 16px;
    background-color: #fff;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
}

#section .header .inputWrap img {
    height: 24px;
    margin-right: 12px;
}

#section .header .inputWrap input{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    border: none;
    outline-style: none;
}

#section .header .inputWrap input::placeholder {
    color: #8e8e8e;
}

#section .header .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

#section .header .profile:hover {
    filter: brightness(1.1);
    text-decoration: underline;
}


#section .header .profile div {
    width: 50px;
    height: 50px;
    background: url("images/profile.jpg") no-repeat;
    background-size: 50px 50px;
    border-radius: 70%;
    margin-right: 12px;
}





#section .cardview {
    display: flex; 
    flex-direction: row;
    /* flex-wrap: wrap; 미디어 쿼리에서 적용해보자.. */
    justify-content: space-between;
}

#section .cardview div{
    width: 100%;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    font-weight: 400;
    transition: all 0.4s ease-out;
}


#section .cardview div:hover {
    filter: brightness(1.3);
    transform: scale(1.02);
}


#section .cardview div:not(:last-child) {
    margin-right: 24px;
}

/* 카드 big */

#section .cardview.big div {    
    height: 275px;
    font-size: 50px;
    padding: 24px 0 0 24px;
}


#section .cardview.big div img {
    border-radius: 90px 0px 8px;
    mix-blend-mode: luminosity;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#section .cardview.big div:nth-child(1) {
    background-color: #8d67ab;
}

#section .cardview.big div:nth-child(2) {
    background-color: #BA5D07;
}

#section .cardview.big div:nth-child(3) {
    background-color: #608108;
}

/* 카드 small */

#section .cardview.small div {    
    height: 230px;
    font-size: 28px;
    padding : 16px 0 0 16px;
}

#section .cardview.small div img {
    border-radius: 8px 0;
    mix-blend-mode: luminosity;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#section .cardview.small div:nth-child(1) {
    background-color: #27856A;
}
#section .cardview.small div:nth-child(2) {
    background-color: #1E3264;
}
#section .cardview.small div:nth-child(3) {
    background-color: #8D67AB;
}
#section .cardview.small div:nth-child(4) {
    background-color: #E8115B;
}
#section .cardview.small div:nth-child(5) {
    background-color: #8D67AB;
}
#section .cardview.small div:nth-child(6) {
    background-color: #1E3264;
}


/* --------------------------------재생바-------------------------------- */


#playBar {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    background-color: #181818;
    border-top: 1px solid #282828;
    border-bottom: 8px solid #1ED760;
    padding: 16px;
}

#playBar .playInfo,
#playBar .playSet {
    display: flex; 
    flex-direction: row;
    align-items: center;
}

#playBar .playArea {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

#playBar .playInfo img:nth-child(1) {
    border-radius: 6px;
    margin-right: 20px;
}

#playBar .playInfo div p:last-child {
    color: #B3B3B3;
    font-size: 14px;
}

#playBar .playInfo img:nth-child(3) {
    height: 24px;
    margin-left: 40px;
}


#playBar .playArea {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#playBar .playArea .control {
    width: 280px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#playBar .playArea .control input,
#playBar .playSet input {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

#playBar .playArea .control .shuffle {
    background: url("images/icon_play_shuffle.png") no-repeat;
}

#playBar .playArea .control .skip_p {
    background: url("images/icon_play_skip_p.png") no-repeat;
}

#playBar .playArea .control .play {
    width: 51px;
    height: 51px;
    background: url("images/icon_play.png") no-repeat;
}

#playBar .playArea .control .skip_n {
    background: url("images/icon_play_skip_n.png") no-repeat;
}

#playBar .playArea .control .repeat {
    background: url("images/icon_play_repeat.png") no-repeat;
}


#playBar .playArea .status {
    height: 28px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#playBar .playArea .status p {
    color: #C4C4C4;
}


#playBar .playArea .status :nth-child(2) {
    width: 500px;
    height: 5px;
    background-color: #535353;
    margin: 0 8px;
    border-radius: 10px;
    overflow: hidden;
}

#playBar .playArea .status :nth-child(2) div {
    width: 0px;
    height: 100%;
    background-color: #C4C4C4;
    animation: playing 180s linear infinite;
}

@keyframes playing {
    from { width: 0% }
    to { width: 100% }
}

#playBar .playSet * {
    margin-left: 24px;

}
#playBar .playSet .playlist {
    background: url("images/icon_play_list.png") no-repeat;
}

#playBar .playSet .speaker {
    background: url("images/icon_play_speacker.png") no-repeat;
}

#playBar .playSet .expand {
    background: url("images/icon_play_expand.png") no-repeat;
}

#playBar .playSet .speakerbar {
    width: 120px;
    height: 5px;
    background-color: #C4C4C4;
    border-radius: 10px;
}
